<div class="container">
    <h1>Sobre mim</h1>
    <hr class="my-4" />
    <h2>Família:</h2>
    <span>Mãe: Gorrete, Pai: Antonio Carlos e Irmã: Marcela</span>
    <hr class="my-4" />
    <h2>Metas:</h2>
    <span>Me aprofundar no mundo da programação</span>
    <hr class="my-4" />
    <h2>Lar:</h2>
    <span>Atualmente em Campos dos Goytacazes/RJ mas já morei em São Paulo/SP e Curitiba/PR</span>
    <hr class="my-4" />
    <h2>Meu valores:</h2>
    <span>Educação, respeito e humildade</span>
    <hr class="my-4" />
    <h2>Trabalho:</h2>
    <li><span>Atualmente desenvolvedor trainee na codeminer42</span></li>
    <h2>Mas já trabalhei como:</h2>
        <li><span>Bolsista projetos de pesquisa universitário</span></li>
        <li><span>Bolsista em iniciação científica em Engenharia de produção</span></li>
        <li><span>Editor de layout e executivo em revista sobre Engenharia de Produção</span></li>
    <hr class="my-4" />
</div>
