<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
         <div class="post-preview">
               <h1>Sobre mim</h1>
                <hr class="my-4" />
            <div class="post-preview">
                    <h2 class="post-title">Família:</h2>
                    <span class="subheading">Mãe: Gorrete, Pai: Antonio Carlos e Irmã: Marcela</span>
            </div>
            <hr class="my-4" />
             <div class="post-preview">
                    <h2 class="post-title">Metas:</h2>
                    <span class="subheading">Me aprofundar no mundo da programação</span>
            </div>
            <hr class="my-4" />
             <div class="post-preview">
                    <h2 class="post-title">Lar:</h2>
                    <span class="subheading">Atualmente em Campos dos Goytacazes/RJ mas já morei em São Paulo/SP e Curitiba/PR</span>
            </div>
            <hr class="my-4" />
             <div class="post-preview">
                    <h2 class="post-title">Meu valores:</h2>
                    <span class="subheading">Educação, respeito e humildade</span>
            </div>
            <hr class="my-4" />
             <div class="post-preview">
                    <h2 class="post-title">Trabalho:</h2>
                    <li><span class="subheading">Atualmente desenvolvedor trainee na codeminer42</span></li>
                    <h2 class="post-title">Mas já trabalhei como:</h2>
                    <ul>
                        <li><span class="subheading">Bolsista projetos de pesquisa universitário</span></li>
                        <li><span class="subheading">Bolsista em iniciação científica em Engenharia de produção</span></li>
                        <li><span class="subheading">Editor de layout e executivo em revista sobre Engenharia de Produção</span></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
