<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-preview">
            <h1>Educação</h1>
                <hr class="my-4" />
                    <h2 class="post-title">Bacharel em Engenharia de produção</h2>
                    <span class="subheading">Realizei o meu tcc sobre o estudos de tempos e movimentos em um processo produtivo</span>
            </div>
            <hr class="my-4" />
             <div class="post-preview">
                    <h2 class="post-title">Mestrando em Engenharia de Produção</h2>
                    <span class="subheading">Realizando estudo sobre o impacto ambiental do ciclo de vida e sacolas de diferentes polímeros</span>
                    <span class="subheading">E também incluso no estudo a Monte Carlo para análise de incerteza dos resultados</span>
            <hr class="my-4" />
        </div>
    </div>
</div>
