<div class="container">
  <h1>Página Inicial</h1>
  <hr class="my-4" />
  <a href="/about">
    <h2 class="post-title">Para saber um pouco mais de mim</h2>
    <h3 class="post-subtitle">Visite sobre mim</h3>
  </a>
  <hr class="my-4" />
  <a href="/prs">
    <h2 class="post-title">Para me conhecer um pouco do que ja fiz na codeminer42</h2>
    <h3 class="post-subtitle">Visite meus Prs</h3>                
  </a>
  <hr class="my-4" />
  <a href="/education">
    <h2 class="post-title">Agora que sabe quen sou e quiser conhecer o que já estudei</h2>
    <h3 class="post-subtitle">Visite Educação</h3>
  </a>
  <hr class="my-4" />
</div>
