<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My web page</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
</head>
<body>
  <header>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/about">Sobre mim</a>
      <a href="prs">Minhas Prs</a>
      <a href="/education">Educação</a>
    </div>
  </header>
  <%= yield %>
  <footer>
    </div>
      <p>Design by Matheus Lacerda</p>
      <a href="https://www.facebook.com/Matheustl" style="font-size:28px" class="fa fa-facebook"></a>
      <a href="https://twitter.com/Matheustlacerda" style="font-size:28px" class="fa fa-twitter"></a>
      <a href="https://github.com/Matheustlacerda" style="font-size:28px" class="fa fa-github"></a>
    </div>
  </footer>
</body>
</html>
