<div class="container">
  <div class="post-preview">
    <h1>Meus PRs</h1>
    <hr class="my-4" />
    <h2>Desafio Log Parser</h2>
        <li><span>Realizado em Ruby</span></li>
    <h3>Desafio de manipulação do arquivo log gerado pelo servidor de quake 3 arena</h3>
    <span>Desafio em 5 partes, cada parte realizada em um PR</span>
    <a href="https://github.com/Matheustlacerda/codeminer42/pull/1">
        <li>Tarefa 1</li>
    </a>
    <span>Leitura do arquivo log</span>
    <a href="https://github.com/Matheustlacerda/codeminer42/pull/2">
        <li>Tarefa 2</li>
    </a>
    <span>Contar numero de linhas</span>
    <a href="https://github.com/Matheustlacerda/codeminer42/pull/3">
        <li>Tarefa 3</li>
    </a>
    <span>Listar os jogadores</span>
    <a href="https://github.com/Matheustlacerda/codeminer42/pull/4">
        <li>Tarefa 4</li>
    </a>
    <span>Listar a quantidade de mortes por jogador</span>
    <span>Listar o total de mortes</span>
    <a href="https://github.com/Matheustlacerda/codeminer42/pull/6">
        <li>Tarefa 5</li>
    </a>
    <span>Descontar as mortes realizadas pelo "mundo"</span>
    <a href="https://github.com/Matheustlacerda/codeminer42/pull/5">
        <li>Tarefa extra</li>
    </a>
    <span>Adicionar Rubocop e SimpleCov</span>
    <hr class="my-4" />
    </div>
    <h2>Desafio Web</h2>
    <li><span>Criar página web utilizando Sinatra</span></li>
    <h3>Criar uma aplicação web com três rotas</h3>
    <span>Para cada parte da aplicação, foi realizado um PR</span>
    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/1">
        <li>Home route</li>
    </a>
    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/4">
        <li>About me route</li>
    </a>
    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/3">
        <li>PRs route</li>
    </a>
    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/2">
        <li>Education route</li>
    </a>
    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/6">
        <li>Testing routes</li>
    </a>
    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/7">
        <li>Adding pages info</li>
    </a>
    <hr class="my-4" />
  </div>
</div>
