<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
               <div class="post-preview">
               <h1>Meus PRs</h1>
                <hr class="my-4" />
                <h1 class="post-title">Desafio Log Parser</h1>
                <li><span class="subheading">Realizado em Ruby</span></li>
                <h3 class="post-subtitle">Desafio de manipulação do arquivo log gerado pelo servidor de quake 3 arena</h3>
                <span class="subheading">Desafio em 5 partes, cada parte realizada em um PR</span>
                <ul>
                    <a href="https://github.com/Matheustlacerda/codeminer42/pull/1">
                        <li>Tarefa 1</li>
                    </a>
                    <span class="subheading">Leitura do arquivo log</span>
                    <a href="https://github.com/Matheustlacerda/codeminer42/pull/2">
                        <li>Tarefa 2</li>
                    </a>
                    <span class="subheading">Contar numero de linhas</span>
                    <a href="https://github.com/Matheustlacerda/codeminer42/pull/3">
                        <li>Tarefa 3</li>
                    </a>
                    <span class="subheading">Listar os jogadores</span>
                    <a href="https://github.com/Matheustlacerda/codeminer42/pull/4">
                        <li>Tarefa 4</li>
                    </a>
                    <span class="subheading">Listar a quantidade de mortes por jogador</span>
                    <span class="subheading">Listar o total de mortes</span>
                    <a href="">
                        <li>Tarefa 5</li>
                    </a>
                    <span class="subheading">Descontar as mortes realizadas pelo "mundo"</span>
                    <a href="https://github.com/Matheustlacerda/codeminer42/pull/5">
                        <li>Tarefa extra</li>
                    </a>
                    <span class="subheading">Adicionar Rubocop e SimpleCov</span>
                    </div>
                    <hr class="my-4" />
                    <h1 class="post-title">Desafio Web</h1>
                <li><span class="subheading">Criar página web utilizando Sinatra</span></li>
                <h3 class="post-subtitle">Criar uma aplicação web com três rotas</h3>
                <span class="subheading">Para cada parte da aplicação, foi realizado um PR</span>
                    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/1">
                        <li>Home route</li>
                    </a>
                    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/4">
                        <li>About me route</li>
                    </a>
                    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/3">
                        <li>PRs route</li>
                    </a>
                    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/2">
                        <li>Education route</li>
                    </a>
                    <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/6">
                        <li>Testing routes</li>
                    </a>
                     <a href="https://github.com/Matheustlacerda/Sinatra_webpage/pull/7">
                        <li>Adding pages info</li>
                    </a>
                     <a href="#">
                        <li>Add a bootstrap template</li>
                    </a>
                    <hr class="my-4" />
                    </div>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
